
<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :paternal_surname %><br />
    <%= f.text_field :paternal_surname %>
  </div>
  <div class="field">
    <%= f.label :maternal_surname %><br />
    <%= f.text_field :maternal_surname %>
  </div>
  <%= select_tag :universities,options_from_collection_for_select(University.all, :id, :name,params[:university_id]), :id => "person_university_id", :class => "text"  %>
  <div id="career_field">
    <%= select_tag :careers,options_from_collection_for_select(Career.all, :id, :name,params[:career_id]), :id => "person_career_id", :class => "text"  %>
  </div>
<!--
  <script>
    $("select#person_university_id").change(function () {
      var sel = $(this).val()
      var url ='<%=  carreras_url(2) %>'
    $.get(url.substring(0,34) + sel, function(data){
    $("#career_field").html(data);
    });
    });
  </script>
  -->
  <div class="field">

    <%= f.label :relationship %><br />
    <%= f.text_field :relationship %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %><br />
    <%= f.text_field :teacher_id %>
  </div>
  <div class="field">
    <%= f.label :organization_id %><br />
    <%= f.text_field :organization_id %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :campaign %><br />
    <%= f.number_field :campaign %>
  </div>
  <div class="field">
    <%= f.label :question1 %><br />
    <%= f.text_area :question1 %>
  </div>
  <div class="field">
    <%= f.label :question2 %><br />
    <%= f.text_area :question2 %>
  </div>
  <div class="field">
    <%= f.label :verified %><br />
    <%= f.check_box :verified %>
  </div>
  <div class="field">
    <%= f.label :cost_per_year %><br />
    <%= f.number_field :cost_per_year %>
  </div>
  <div class="field">
    <%= f.label :url_video %><br />
    <%= f.text_area :url_video %>
  </div>
  <div class="field">
    <%= f.label :url_facebook %><br />
    <%= f.text_field :url_facebook %>
  </div>
  <div class="field">
    <%= f.label :url_twitter %><br />
    <%= f.text_field :url_twitter %>
  </div>
  <div class="field">
    <%= f.label :url_university %><br />
    <%= f.text_field :url_university %>
  </div>
  <div class="field">
    <%= f.label :current_year %><br />
    <%= f.number_field :current_year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
