<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
   <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

 <div class="field">
    <%= f.label :university_id %><br />
    <%= f.collection_select :university_id, University.all, :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :career_id, "Career" %><br />
    <%= f.grouped_collection_select :career_id, University.order(:name), :careers, :name, :id, :name, include_blank: true %>
  </div>
  <script>
    jQuery(function() {

        $(function() {
          $( "#datepicker" ).datepicker();
        });



      var careers;
      $('#student_career_id').parent().hide();
      careers = $('#student_career_id').html();
      $('#student_university_id').change(function() {
        var country, escaped_country, options;
        university = $('#student_university_id :selected').text();
        escaped_university = university.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
        options = $(careers).filter("optgroup[label='" + escaped_university + "']").html();
        if (options) {
          $('#student_career_id').html(options);
          $('#student_career_id').parent().show();
        } else {
        $('#student_career_id').empty();
        $('#student_career_id').parent().hide();
      }
    });
  });
</script>

 <div class="field">
    <%= f.label :teacher_id %><br />
    <%= f.collection_select :teacher_id, Teacher.all, :id, :name, include_blank: true %>
  </div>
 <div class="field">
    <%= f.label :organization_id %><br />
    <%= f.collection_select :organization_id, Organization.all, :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :campaign %><br />
    <%= f.number_field :campaign, :id => "datepicker" %>
  </div>
  <div class="field">
    <%= f.label :question1 %><br />
    <%= f.text_area :question1 %>
  </div>
  <div class="field">
    <%= f.label :question2 %><br />
    <%= f.text_area :question2 %>
  </div>
  <div class="field">
    <%= f.label :verified %><br />
    <%= f.check_box :verified %>
  </div>
  <div class="field">
    <%= f.label :cost_per_year %><br />
    <%= f.number_field :cost_per_year %>
  </div>
  <div class="field">
    <%= f.label :url_video %><br />
    <%= f.text_area :url_video %>
  </div>
  <div class="field">
    <%= f.label :url_facebook %><br />
    <%= f.text_field :url_facebook %>
  </div>
  <div class="field">
    <%= f.label :url_twitter %><br />
    <%= f.text_field :url_twitter %>
  </div>
  <div class="field">
    <%= f.label :url_university %><br />
    <%= f.text_field :url_university %>
  </div>
  <div class="field">
    <%= f.label :current_year %><br />
    <%= f.number_field :current_year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
