<h1>Listing students</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>University</th>
    <th>Career</th>
    <th>Sponsor</th>
    <th>Partnership</th>
    <th>Country</th>
    <th>City</th>
    <th>Question1</th>
    <th>Question2</th>
    <th>Verified</th>
    <th>Url video</th>
    <th>Url facebook</th>
    <th>Url twitter</th>
    <th>Current year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td><%= student.university.name %></td>
    <td><%= student.career.name %></td>
    <td><%= student.sponsor.name %></td>
    <td><%= student.partnership.name %></td>
    <td><%= student.country %></td>
    <td><%= student.city %></td>
    <td><%= student.question1 %></td>
    <td><%= student.question2 %></td>
    <td><%= student.verified %></td>
    <td><%= student.url_video %></td>
    <td><%= student.url_facebook %></td>
    <td><%= student.url_twitter %></td>
    <td><%= student.current_year %></td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_student_path %>
