<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Last name:</b>
  <%= @student.last_name %>
</p>

<p>
  <b>Paternal surname:</b>
  <%= @student.paternal_surname %>
</p>

<p>
  <b>Maternal surname:</b>
  <%= @student.maternal_surname %>
</p>

<p>
  <b>University career:</b>
  <%= @student.university_career_id %>
</p>

<p>
  <b>Teacher:</b>
  <%= @student.teacher_id %>
</p>

<p>
  <b>Country:</b>
  <%= @student.country %>
</p>

<p>
  <b>City:</b>
  <%= @student.city %>
</p>

<p>
  <b>Campaign:</b>
  <%= @student.campaign %>
</p>

<p>
  <b>Question1:</b>
  <%= @student.question1 %>
</p>

<p>
  <b>Question2:</b>
  <%= @student.question2 %>
</p>

<p>
  <b>Verified:</b>
  <%= @student.verified %>
</p>

<p>
  <b>Cost per year:</b>
  <%= @student.cost_per_year %>
</p>

<p>
  <b>Url video:</b>
  <%= @student.url_video %>
</p>

<p>
  <b>Url facebook:</b>
  <%= @student.url_facebook %>
</p>

<p>
  <b>Url twitter:</b>
  <%= @student.url_twitter %>
</p>

<p>
  <b>Url university:</b>
  <%= @student.url_university %>
</p>

<p>
  <b>Current year:</b>
  <%= @student.current_year %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
