    <div class="frame-mosaic">
      <div class="mosaic">
        <ul>
            <li>
            <div class="f1_container">
              <div id="card2" class="f1_card">
                <div class="front face">
                  <%= link_to image_tag("./students/student2.jpg"), root_path %>
                </div>
                <div class="back face">
                  <%= image_tag("./orgs/squared/khan_14.png")  %>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="f1_container">
              <div id="card2" class="f1_card">
                <div class="front face">
                  <%= link_to image_tag("./students/student2.jpg"), root_path %>
                </div>
                <div class="back face">
                  <%= image_tag("./orgs/squared/khan_14.png")  %>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="f1_container">
              <div id="card3" class="f1_card">
                <div class="front face">
                  <%= link_to image_tag("./students/student3.jpg"), root_path %>
                </div>
                <div class="back face">
                  <%= image_tag("./students/student6.jpg")  %>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="f1_container">
              <div id="card4" class="f1_card">
                <div class="front face">
                  <%= link_to image_tag("./students/student4.jpg"), root_path %>
                </div>
                <div class="back face">
                  <%= image_tag("./students/student8.jpg")  %>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="f1_container">
              <div id="card5" class="f1_card">
                <div class="front face">
                  <%= link_to image_tag("./students/student5.jpg"), root_path %>
                </div>
                <div class="back face">
                  <%= image_tag("./students/student7.jpg")  %>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="f1_container">
              <div id="card6" class="f1_card">
                <div class="front face">
                  <%= link_to image_tag("./students/student6.jpg"), root_path %>
                </div>
                <div class="back face">
                  <%= image_tag("./students/student91.jpg")  %>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="f1_container">
              <div id="card7" class="f1_card">
                <div class="front face">
                  <%= link_to image_tag("./students/student7.jpg"), root_path %>
                </div>
                <div class="back face">
                  <%= image_tag("./students/student14.jpg")  %>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="f1_container">
              <div id="card8" class="f1_card">
                <div class="front face">
                  <%= link_to image_tag("./students/student8.jpg"), root_path %>
                </div>
                <div class="back face">
                  <%= image_tag("./students/khan_14.png")  %>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div id="card9" class="f1_container">
              <div class="f1_card">
                <div class="front face">
                  <%= link_to image_tag("./students/student9.jpg"), root_path %>
                </div>
                <div class="back face">
                  <%= image_tag("./students/student2.jpg")  %>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="f1_container">
              <div id="card10" class="f1_card">
                <div class="front face">
                  <%= link_to image_tag("./students/student91.jpg"), root_path %>
                </div>
                <div class="back face">
                  <%= image_tag("./students/student1.jpg")  %>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="f1_container">
              <div id="card11" class="f1_card">
                <div class="front face">
                  <%= link_to image_tag("./students/student92.jpg"), root_path %>
                </div>
                <div class="back face">
                  <%= image_tag("./students/student3.jpg")  %>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="f1_container">
              <div id="card12" class="f1_card">
                <div class="front face">
                  <%= link_to image_tag("./students/student8.jpg"), root_path %>
                </div>
                <div class="back face">
                  <%= image_tag("./students/student3.jpg")  %>
              </div>              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
