

<%= content_for :javascripts do %>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "shared" %>
  <%= javascript_include_tag "bootstrap" %>
<% end %>

<div class="center">
 <%= render "faqslinks" %>
<div id="accordion2" class="accordion">
<h2>ADD UP 101</h2>
<div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse43" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What types of service initiatives can I start?</a>
          </div>
          <div class="accordion-body collapse" id="collapse43">
            <div class="accordion-inner">
<p>All questions can be directed to info@addup.org.</p>
ADD UP 101
</div></div></div>

<div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse44" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">How should choose my funding goal and deadline?</a>
          </div>
          <div class="accordion-body collapse" id="collapse44">
            <div class="accordion-inner">
<p>All questions can be directed to info@addup.org.</p>
ADD UP 101
</div></div></div>

<div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse45" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle"> How can I enhance my profile to attract more sponsors? </a>
          </div>
          <div class="accordion-body collapse" id="collapse45">
            <div class="accordion-inner">
<p>All questions can be directed to info@addup.org.</p>
ADD UP 101
</div></div></div>

<div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse46" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle"> Ok, my profile is established. My campaign is about to go live. Now what?  </a>
          </div>
          <div class="accordion-body collapse" id="collapse46">
            <div class="accordion-inner">
<p>All questions can be directed to info@addup.org.</p>
ADD UP 101
</div></div></div>
</div></div>
