<div class="center">

  <div class="three-fifths">
    <div class="student-stats" >
      <h3 class="bold top-space"><%= @student.first_name + '  ' + @student.last_name  %><span class="icon checkmark"></span></h3>
      <div class="bubble approved normal"></div>
      <h5><%= @student.degree + '(' + @student.current_year + ' year out of ' + @student.length_of_program + ' years program)' %><span class="icon info-icon"> </span></h5>
      <div class="bubble tuition">
        <span class="money"><%= @student.total_annual_cost_of_attendance %></span>
        total cost of annual attendance
      </div>
      <h5><%= @student.university %></h5>
      <h5><%= ' ' + @student.city_check %>, USA </h5>
    </div>

    <%= form_tag(checkout_path(@student.id), :method => 'post', :multipart => false) do %>
      <ol class="choose-rewards">
        <li>
          <h5 class="bold">Great! Every contribution adds up!</h5>
          <h6>Enter the amount to add up</h6>
          <div class="money-input info-bg-color">
            <span class="currency info-color">$</span>
            <%= text_field_tag "money",nil, :class => "super-input money" %>
            <h6 class="tiny-tip">$1 or more</h6>
          </div>
        </li>
        <li>
          <ol class="rewards">
            <% @donations.each do |d|  %>
              <li class="reward no_thx">
                <%= radio_button_tag('money', d,false,:class=>'radio')  %>
                <label class="no-reward" for="backing_backer_reward_id_">$<%= d %></label>
              </li>
            <% end %>
          </ol>
        </li>
        <li>
          <div class="checkout_actions_wrap">
            <div class="checkout_actions">
              <%= image_tag "paypal.png"%>
              <%= submit_tag "Continue to Paypal",:class => "button action shadow" %>
              <span class="info-color transfer">or with Bank Transfer</span>
            </div>
          </div>
        </li>
        <li>

          <div class="transfer-info">
            <h3>BANK TRANFER INFORMATION</h3>
            <h5>ABA/Routing: 111000614</h5>
            <h5>Account No. 128178580 </h5>
            <h5>ABA/Routing: 111000614</h5>
            <h5>Swift: chasus33</h5>
          </div>
        </li>
      </ol>
    <% end%>

  </div>
</div>
<div class="sidebar">
  <div class="checkout_faqs">
    <h6 class="faqs bold">FREQUENTLY ASKED QUESTIONS</h6>
    <ul class="faqs">
      <li class="faq">
        <div class="faq-question">
        <a> <span class="icon-expand arrow-shown"> </span> <span class="question info-color">How do I contribute to a campaign?</span> </a>
        </div>
        <div class="faq-answer">
          <p>Once you decide that you would like to add up to a student’s education, it’s as easy as buying a birthday gift online. Though Add Up utilizes PayPal as its payment processor, it is not necessary to have a PayPal account.</p>
          <p>It doesn’t have to stop with financial contributions, either. You can always write encouraging notes on the profile page of the students whom you support and, of course, Add Up encourages you to<b> share their story</b> with your own social network in an effort to drum up further support.</p>
        </div>
      </li>
      <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"> </span> <span class="question info-color">
          Who receives my donation?</span> </a>
        </div>
        <div class="faq-answer hide">
          The money raised by the student’s campaign, minus fees, goes directly to the student’s university. This ensures that your donation is used for the educational purpose for which you intended it.
        </div>
      </li>
      <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"></span> <span class="question info-color">What are the fees associated with using Add Up?
          </span> </a>
        </div>
        <div class="faq-answer hide">
          <p> Add Up utilizes PayPal, which has processing fees of 2.5% + $0.30 per domestic (U.S.) transaction and 3.5% + $0.30 per international transaction. Additionally, Add Up collects 3.5% from the total amount raised to cover our normal business costs and to enable our growth.</p>
          <p>For example, a contribution from a sponsor in the U.S. will incur a total fee of 6% plus 30 cents. These fees – which are taken from the total amount donated and are not additional charges to sponsors – are less than crowdfunding industry standards (typically 7.5%).</p>
        </div>
      </li>
      <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"></span> <span class="question info-color">Are my contributions tax-deductible?</span> </a>
        </div>
        <div class="faq-answer hide">
          <p>No. Students themselves – despite having the ability to make immense, positive differences in their communities – are not non-profit institutions. Since the money raised goes towards a student’s scholarship (ultimately for the benefit of the student), adding up to a student’s scholarship is not recognized as a tax-deductible gift.</p>
        </div>
      </li>
      <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"></span> <span class="question info-color">If I add up, when is my account charged?</span> </a>
        </div>
        <div class="faq-answer hide">
              Your account (whether PayPal, checking, or credit card) is charged immediately upon adding up. The charge will appear on your statement as “Crowdscholarship.”

        </div>
      </li>
      <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"></span> <span class="question info-color">If funding does not succeed, do I pay anything?</span> </a>
        </div>
        <div class="faq-answer hide">
Yes. Your decision to add up to a student’s education is made for any number of personal reasons. Whether or not that student reaches his or her funding goal does not change anything. The student still has the responsibility to keep you informed of their progress as they take action on their service plan.
        </div>
      </li>
  <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"></span> <span class="question info-color"> What if a student does not attend the university at which they planned to study or drop out?  </span> </a>
        </div>
        <div class="faq-answer hide">
          Add Up goes to great lengths to ensure that students actually attend their stated universities by verifying that they are enrolled. In the rare case that a student transfers schools or drops out before the end of the year of their campaign, sponsors will be notified and the money donated will go into an Add Up General Fund and will be used to fund other extraordinary students.
        </div>
      </li>
  <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"></span> <span class="question info-color"> If I add up, what info does the student receive?  </span> </a>
        </div>
        <div class="faq-answer hide">
          The student will know your Add Up User ID and how much you contributed. You are free to share more information (e.g. why you decided to give or an encouraging message), but that is not required.
        </div>
      </li>
  <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"></span> <span class="question info-color"> What happens after I add up to a student’s campaign?  </span> </a>
        </div>
        <div class="faq-answer hide">
          After you add up, you will receive confirmation that your donation has been accepted. Once the campaign is over, you will receive confirmation of the deposit to the student’s university account[U1] . You can choose to receive newsletters from Add Up informing you of updates regarding the student’s service commitments and, of course, you will be kept informed by the student through the social media resources available on Addup.org.
        </div>
      </li>
   <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"></span> <span class="question info-color"> Can I cancel a contribution I made?  </span> </a>
        </div>
        <div class="faq-answer hide">
          No. Once you contribute to a student, it becomes final.
        </div>
      </li>

 <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"></span> <span class="question info-color"> Do I need to have a PayPal account? </span> </a>
        </div>
        <div class="faq-answer hide">
          There is no need to have a PayPal account (though it will only take a few seconds to create one once you are in the process of making a donation). Add Up simply uses PayPal to manage transactions and to ensure that they are completed in a secure manner.
        </div>
      </li>


    </ul>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      $(':radio').click(function(){
        $('#money').val(($(this).val()));
        });
      });
</script>

