<div class="center">

  <div class="three-fifths">
    <div class="student-stats" >
      <h3 class="bold top-space"><%= @student.first_name + '  ' + @student.last_name  %><span class="icon checkmark"></span></h3>
      <div class="bubble approved normal"></div>
      <h5><%= @student.degree + '(' + @student.current_year + ' year out of ' + @student.length_of_program + ' years program)' %><span class="icon info-icon"> </span></h5>
      <div class="bubble tuition">
        <span class="money"><%= @student.total_annual_cost_of_attendance %></span>
        total cost of annual attendance
      </div>
      <h5><%= @student.university %></h5>
      <h5>USA,<%= ' ' + @student.city_check %> </h5>
    </div>

    <%= form_tag(checkout_path(@student.id), :method => 'post', :multipart => false) do %>
      <ol class="choose-rewards">
        <li>
          <h5 class="bold">Great! Every contribution Adds up!</h5>
          <h6>Enter the amount to add up</h6>
          <div class="money-input info-bg-color">
            <span class="currency info-color">$</span>
            <%= text_field_tag "money",nil, :class => "super-input money" %>
            <h6 class="tiny-tip">$1 or more</h6>
          </div>
        </li>
        <li>
          <ol class="rewards">
            <% @donations.each do |d|  %>
              <li class="reward no_thx">
                <%= radio_button_tag('money', d,false,:class=>'radio')  %>
                <label class="no-reward" for="backing_backer_reward_id_">$<%= d %></label>
              </li>
            <% end %>
          </ol>
        </li>
        <li>
          <div class="checkout_actions_wrap">
            <div class="checkout_actions">
              <%= image_tag "paypal.png"%>
              <%= submit_tag "Continue to Paypal",:class => "button action shadow" %>
              <span class="info-color transfer">or with Bank Transfer</span>
            </div>
          </div>
        </li>
        <li>

          <div class="transfer-info">
            <h3>BANK TRANFER INFORMATION</h3>
            <h5>ABA/Routing: 111000614</h5>
            <h5>Account No. 128178580 </h5>
            <h5>ABA/Routing: 111000614</h5>
            <h5>Swift: chasus33</h5>
          </div>
        </li>
      </ol>
    <% end%>

  </div>
</div>
<div class="sidebar">
  <div class="checkout_faqs">
    <h6 class="faqs bold">FREQUENTLY ASKED QUESTIONS</h6>
    <ul class="faqs">
      <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-shown"> </span> <span class="question info-color">How do I pledge?</span> </a>
        </div>
        <div class="faq-answer">
          Enter your pledge amount and select a reward.
          Then
          we'll send you to Amazon Payments to complete the checkout process.
        </div>
      </li>
      <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"> </span> <span class="question info-color">When is my credit card charged?</span> </a>
        </div>
        <div class="faq-answer hide">
          If this project is successfully funded, your credit card will be charged on
          Wednesday Oct 17, 11:48am CDT,
          along with all the other backers of this project.
        </div>
      </li>
      <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"> </span> <span class="question info-color">So I'm only charged if funding succeeds?</span> </a>
        </div>
        <div class="faq-answer hide">
          Yes! That's part of what makes Kickstarter special. If a project isn't successfully funded, no one pays anything.
        </div>
      </li>
      <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"></span> <span class="question info-color">What if I want to change my pledge?</span> </a>
        </div>
        <div class="faq-answer hide">
          You can change or cancel your pledge anytime before Wednesday Oct 17, 11:48am CDT.
        </div>
      </li>
      <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"></span> <span class="question info-color">If this project is funded, how do I get my reward?</span> </a>
        </div>
        <div class="faq-answer hide">
          When your reward is ready, Conquistador Games will send you a survey via email to request any info needed to deliver your reward (mailing address, T-shirt size, etc).
        </div>
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      $(':radio').click(function(){
        $('#money').val(($(this).val()));
        });
      });
</script>

