<div class="center">
  <h3 class="info-color bold top-space">Interested in providing matching funds?</h3>
  <p>For students, it is invaluable for companies and successful philanthropists to believe in their education and their commitment to help society.</p>
  <p> You can reward their own fundraising efforts by matching what they raise, dollar for dollar.
  You can select the criteria for students to qualify for your matching funds, determine a maximum amount to match and even require a separate application process.</p>
  <p class="three-fifths">Contact us to learn about how your company can match funds for students.</p>
  <%= form_tag(companies_path, :method => "post", :multipart => false) do %>
    <label for="name">Full Name</label>
    <%= text_field_tag "name", nil, :id => "name" %>
    <label for="email">Email Address</label>
    <%= text_field_tag "email", nil, :id => "email" %>
    <label for="company">Company</label>
    <%= text_field_tag "company", nil, :id => "company" %>
    <label for="message">Message</label>
    <%= text_area_tag "message", nil, :id => "message" %>
    <%= submit_tag "Submit",:class => "button info-bg-color" %>
  <% end %>
</div>

