<%= content_for :javascripts do %>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "shared" %>
  <%= javascript_include_tag "bootstrap" %>
<% end %>

<div class="center">
  <%= render "faqslinks" %>
 <h2>ADD UP FAQ’s</h1>
<div id="accordion2" class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Why was ADD UP created?</a>
    </div>
    <div class="accordion-body collapse" id="collapseOne">
      <div class="accordion-inner">
        <p>ADD UP seeks to recognize and motivate the community service efforts of international students studying for their higher education degrees in the US.</p>
        <p>Many intelligent and talented students earn their degrees and yet lack the confidence to utilize their skills and abilities in ways that can make a positive impact on their society. With the incentive of getting complementary funds towards their university’s cost of attendance, Addup.org invites students to reflect on and identify their skills and abilities, what change they are passionate about making in their community, and how they can use those talents to contribute to that change. The tangible benefit may come in dollar signs, but the security gained from knowing that people believe in them and their capacity to have a positive impact on others is the real reward that carries on.</p>
        <p>If you share our vision of empowering service-oriented students to make a positive impact in their community, become a part of the ADD UP community links to <%= link_to "Facebook", "https://www.facebook.com/pages/AddupOrg/524068124287608?ref=ts&fref=ts" %> and <%= link_to "Twitter", "http://www.twitter.com/adduporg" %>.</p>
      </div>
    </div>
  </div>

<div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What is ADD UP?</a>
          </div>
          <div class="accordion-body collapse" id="collapseTwo">
            <div class="accordion-inner">
<p>ADD UP is a platform where service-oriented, international students studying for their higher education degrees in the United States can connect with sponsors who value the impacts of both quality higher education and grassroots community service. </p>
<p>Sponsors add up to a student’s scholarship when they feel drawn to the student’s service mission, course of study, or cause. Empowered by the support of their sponsors, students then add up to their communities through any number of different community-building endeavors.  <%= render partial: 'student_applications/ideas' %>In the end, everybody wins. ADD UP simply provides the crowdfunding platform to make it all happen.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Who uses ADD UP?</a>
          </div>
          <div class="accordion-body collapse" id="collapseThree">
            <div class="accordion-inner">
<ul>
<li>
Service-oriented, international students studying in the US who are seeking funds towards their higher education degree </li><li>
Family members, friends, and other supporters who want to support the student’s educational and service endeavors</li>
<li>Alumni of the student’s university</li>
<li>Anyone who supports a student’s course of study, cause, or service mission </li>
</ul>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseFour" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Why are only international students eligible to utilize ADD UP right now?</a>
          </div>
          <div class="accordion-body collapse" id="collapseFour">
            <div class="accordion-inner">
<p>The United States is home to many of the best universities in the world and thus attracts hundreds of thousands of international students seeking higher education degrees each year. Though rising tuition costs affect both American and international students struggling to fund their educational goals, international students do not have access to federal and state grants and scholarships, nor are they eligible for many private scholarships that are available only to US citizens. Recognizing the lack of financial aid options available to international students, ADD UP seeks to partly fill this void by providing a crowdfunding platform which enables service-oriented international students to raise complementary funds towards their tuition and use their unique abilities to improve the community in which they study.</p>
<p>In the near future, we hope to expand the platform for American students, as we recognize that, despite the variety of financial aid options, funding their higher education is still a struggle for millions of students each year.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseFive" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Is ADD UP a non-profit or for-profit company?</a>
          </div>
          <div class="accordion-body collapse" id="collapseFive">
            <div class="accordion-inner">
<p>ADD UP is a for-profit company that provides a crowdfunding platform to empower sponsors and students to make a positive social impact. </p>
</div></div></div>

</div>
</div>
