<%= content_for :javascripts do %>
  <%= stylesheet_link_tag "addup","bootstrap", :media => "all" %>
  <%= javascript_include_tag "bootstrap" %>
<% end %>

<div class="center">
  <h3 class="info-color bold top-space">  Share your story and launch a successful crowdfunding campaign!</h3>
    <p>
      Before you begin your application, make sure to gather the following things. Once you have these, your application should take no longer than 5 minutes to complete!!
    </p>
    <p>
      NOTE: All good things take time. We are in the BETA version right now, and working on developing the final product.  Therefore, the Add Up application does not have the option of saving your information and coming back to it, so you will need to complete it in one sitting. Thanks for understanding!
    </p>

      <div id="accordion2" class="accordion">
 <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle"><i class="icon-hand-right"></i> A project/plan for adding up to your community!</a>
          </div>
          <div class="accordion-body collapse" id="collapseOne">
            <div class="accordion-inner">
              <ul>
                <li><i class="icon-ok"></i>Look at our social project idea generator for initial ideas to get inspired.</li><br/>
                <li> <%= render partial: 'student_applications/ideas' %></li><br/>
              </ul>
            </div>
          </div>
        </div>

 <div class="accordion-group">
          <div class="accordion-heading">
             <a href="#collapse32" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">	<i class="icon-hand-right"></i> Basic information	</a>
          </div>
          <div class="accordion-body collapse" id="collapse32">
            <div class="accordion-inner">
              <ul>
                <li><i class="icon-ok"></i>Personal information </li><br/>
                <li><i class="icon-ok"></i>Crowdfunding goal: maximum $10,000 usd </li><br/>
                <li><i class="icon-ok"></i>Total annual cost of attendance of program of study</li><br/>
                <li><i class="icon-ok"></i>Two short responses: Sharing your story and why you care about adding up</li><br/>

              </ul>
            </div>
          </div>
        </div>


 <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse3" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">	<i class="icon-hand-right"></i>	4-10 pictures of you	</a>
          </div>
          <div class="accordion-body collapse" id="collapse3">
            <div class="accordion-inner">
              <ul>
                <li><i class="icon-ok"></i> Pictures of you engaged in your hobbies, social activities, interests, with family, friends, etc. The objective is to help sponsors get a feel for who you are.</li><br/>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse4" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">	<i class="icon-hand-right"></i> A 2-minute video about your social project and why you care about care about adding up.</a>
          </div>
          <div class="accordion-body collapse" id="collapse4">
            <div class="accordion-inner">
              <ul>
                <li><i class="icon-ok"></i>Upload this video to YouTub at the Addup channel <%= link_to "click here", faq_path %>.<li><br/>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a href="#collapse44" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">	<i class="icon-hand-right"></i> University payment information. Remember that you need to be currently enrolled or have confirmed your enrollment for the following term. </a>
              </div>
              <div class="accordion-body collapse" id="collapse44">
                <div class="accordion-inner">
                  <ul>
                    <li><i class="icon-ok"></i> Form of payment for outside scholarships: wire tranfer of check.<li<br/>
                        <ul>
                          <li><i class="icon-asterisk"></i> Wire tranfers: Name of bank, University Bank Account, ABA/routing and SWIFT</li><br/>
                          <li><i class="icon-asterisk"></i> Check: Payee's name, Financial Services Address</li><br/>
                        </ul>
                      </ul>
                      <ul>
                        <li><i class="icon-ok"></i>Student's University Reference ID </li>
                      </ul>
                    </div>
                  </div>
                </div>



             <p>
          If you want to get an idea of what your profile will look like once it goes live, check out our <%= link_to "\ demo profile" , "http://addupstaging.herokuapp.com/student/8" %>. Don’t forget to also check out our Add Up 101 for tips for launching a successful campaign. </p>

      </ul>
    </div>
          <%= link_to "START >", application_path, class: "button info-bg-color", style: "text-decoration: none;" %>

</div>


