<div class="center">
  <%= image_tag "logo.png", :class=>"logo", :alt=>"ADD UP" %>
  <%= render "banner" %>
 <h1 class="action-text bold start">Start Adding Up!</h1>
  <%= render "slider" %>
  <p class="quote">"<%= @random.quote  %>"</p>
  <h5 class="quote">- <%= @random.name_sponsor  %></h5>
  <%= render "notified1" %>
  <%= render "notified" %>
</div>
