<%= render "facebook"  %>
<div id="blurry" class="blurr">
  <div class="msg-box">
    <form accept-charset="UTF-8" action="" method="post">
      <div class="msg-header">
        <h1><span class="msg-to">TO:</span> <span class="msg-name"><%= @student.first_name + '  ' + @student.last_name  %></span> </h1>
      </div>
      <div class="msg-textarea">
        <label for="name">Full Name</label>
        <input id="name" name="name" type="text">
        <label for="email">Email Address</label>
        <input id="email" name="email" type="text">
        <label for="message">Message</label>
        <textarea id="message" name="message"></textarea>
      </div>
      <div class="msg-footer">
        <input class="button info-bg-color" name="commit" type="submit" value="ASK A QUESTION">
        <span class="msg-cancel info-color">Cancel</span>
      </div>
    </form>
  </div>
</div>
<div class="center">
 <% if notice != nil %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end%>
 <div class="two-thirds">
    <div class="student-stats">
      <h3 class="bold top-space"><%= @student.first_name + '  ' + @student.last_name  %><span class="icon checkmark"></span></h3>
      <div class="bubble approved normal" style="left:160px;"></div>
      <h5><%= @student.degree + '(' + @student.current_year + ' year out of ' + @student.length_of_program + ' years program)' %><span class="icon info-icon"> </span></h5>
      <div class="bubble tuition">
        <span class="money"><%= @student.total_annual_cost_of_attendance %></span>
        total cost of annual attendance
      </div>
      <h5><%= @student.university %></h5>
      <h5><%= "#{@student.city}, #{@student.nationality}" %> </h5>
    </div>

    <div class="holder">
      <span class="pics arrow left"> </span>
      <div class="window profile">
        <div class="student-slider-pics">
          <ul>
            <% if @student.link_of_video  %>
              <li>
              <div class="image">
                <%= %{<iframe width="560" height="315" src="http://www.youtube.com/embed/#{@student.link_of_video}" frameborder="0" allowfullscreen></iframe>}.html_safe %>
              </div>
              <div class="caption">
                <h5>My cause</h5>
              </div>
            </li>
          <% end %>
          <% if  @student.p3 %>
          <li>
              <div class="image"><%= image_tag @student.p3.sliderdetail.url.to_s %>
            </div>
            <div class="caption">
              <h5>My classmates</h5>
            </div>
          </li>
           <% end %>
           <% if @student.p4 %>
          <li>
            <div class="image"><%= image_tag @student.p4.sliderdetail.url.to_s%>
          </div>
          <div class="caption">
            <h5>My family</h5>
          </div>
          </li>
        <% end %>
        <% if @student.p5.file? %>
          <li>
            <div class="image"><%= image_tag @student.p5.sliderdetail.url.to_s%>
          </div>
          <div class="caption">
            <h5>Hobbies</h5>
          </div>
          </li>
        <% end %>
        <% if @student.p6.file?%>
          <li>
            <div class="image"><%= image_tag @student.p6.sliderdetail.url.to_s%>
          </div>
          <div class="caption">
            <h5>Social cause</h5>
          </div>
          </li>
        <% end %>
        <% if @student.p7.file? %>
          <li>
            <div class="image"><%= image_tag @student.p7.sliderdetail.url.to_s%>
          </div>
          <div class="caption">
            <h5>About me</h5>
          </div>
          </li>
        <% end %>
        <% if @student.p8.file?%>
          <li>
            <div class="image"><%= image_tag @student.p8.sliderdetail.url.to_s%>
          </div>
          <div class="caption">
            <h5>Photo</h5>
          </div>
          </li>
        <% end %>
        <% if @student.p9.file? %>
          <li>
            <div class="image"><%= image_tag @student.p9.sliderdetail.url.to_s%>
          </div>
          <div class="caption">
            <h5>Photo</h5>
          </div>
          </li>
        <% end %>
        <% if @student.p10.flie? %>
          <li>
            <div class="image"><%= image_tag @student.p10.sliderdetail.url.to_s%>
          </div>
          <div class="caption">
            <h5>Photo</h5>
          </div>
          </li>
        <% end %>
</ul>
    </div>
  </div>
  <span class="pics arrow right"> </span>
</div>
<div class="social-share">

  <div class="fb-like" data-href="http://www.addup.org/student" data-send="false" data-width="300" data-show-faces="false"></div>

  <a href="https://twitter.com/share" class="twitter-share-button" data-via="twitterapi" data-lang="en">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <a href="mailto:info@addup.org?subject=Cynthia%20White&body=check%20this%20%0Ahttp://www.addup.org" class="button e-mail share"><span class="email-icon"></span> <span>e-mail</span></a>
</div>

<h5 class="hot highlight top-space">I WILL ADD UP BY...</h5>
<div class="important">
  <div class="important-content">
    <p>
      <%= @student.cause %>
    </p>
  </div>
</div>

<h5 class="bold top-space">ABOUT ME AND MY EDUCATIONAL GOALS...</h5>
<p>
  <%= @student.answer1 %>
</p>

<h5 class="bold top-space">WHY I CARE ABOUT ADDING UP...</h5>
<p>
  <%= @student.answer2 %>
</p>

<span class="button info-bg-color msg profile-ask">Ask a Question</span>
<div>
  <h5 class="bold">FACEBOOK COMMENTS</h5>
  <div class="fb-comments" data-href="<%= student_url(@student.id) %> " data-num-posts="2" data-width="470"></div>
</div>
  </div>

  <div class="sidebar-profile">
    <div class="verified-by-addup">
      <h5><span class="icon checkmark"></span>Verified by ADD UP</h5>
      <p>
        This student has been carefully verified by the AddUp Team
      </p>
      <%= link_to "How it works", how_path %>
    </div>
    <div class="frame dark-bg profile-side">
      <div class="block goal-stats">
        <ol>
          <li class="numbers">
            <%= @student.donations.count %>
          </li>
          <li class="labels">
            addupers
          </li>
          <li class="numbers">
            <%=  @student.donations.sum(:mc_gross).round %>
          </li>
          <li class="labels">
            <%= 'added up of ' + @student.crowdfundig_goal_usd.round.to_s + " goal" %>
          </li>
          <li class="numbers">
            <%= ((Date.today-@student.created_at.to_date).round-@student.time_frame.to_i).abs %>
          </li>
          <li class="labels">
            days left
          </li>
          <li>
            <%= link_to  reward_path(@student.id) , :class => "button action go-to-rewards shadow" do  %>
              Add up to this Student
              <span class="min-amount">$1 minimum</span>
            <% end %>
          </li>
          <li>
            <%= link_to "How ADD UP works", how_path %>
          </li>
        </ol>
      </div>
      <div class="block teacher">
        <span> <span class="verified corner-check"> </span></span>
        <div class="bubble approved reflect"> </div>
        <b>Endorsed by</b>
        <h6><%= @student.job + ' ' + @student.name_sponsor %></h6>
        <div class="avatar"><%= image_tag @student.p1_url %>
      </div>
      <div class="sponsor-name">
        <b><%= @student.university %></b>
        <b>Foreign Student Advisor</b>
        <span class="button info-bg-color msg">Contact</span>
      </div>
      <p>
        “<%= @student.quote  %>”
      </p>

    </div>

  </div>
</div>
</div>
