<div class="center">
  <div class="student-stats">
    <h3 class="bold top-space"><%= @student.first_name + '  ' + @student.last_name  %> <span class="icon checkmark"> </span></h3>
    <div class="bubble approved normal">
    </div>
    <h5>MBA Candidate (2nd year out of 4 year program)</h5>
    <h5>Georgetown University</h5>
    <h5>USA, Houston</h5>
  </div>

  <div class="full-page">
    <h2 class="info-color bold top-space">Congratulations!</h2>
    <p class="super two-thirds">
      <%= "You are now an official AddUpper of #{@student.first_name} #{@student.last_name}. Multiply the impact of your donation by sharing her story!" %>
    </p>
    <div class="social-share left-align">
      <div class="fb-like" data-href="http://www.addup.org/student" data-send="false" data-width="300" data-show-faces="false"></div>

      <a href="https://twitter.com/share" class="twitter-share-button" data-via="twitterapi" data-lang="en">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <a href="mailto:info@addup.org?subject=Cynthia%20White&body=check%20this%20%0Ahttp://www.addup.org" class="button e-mail share"><span class="email-icon"></span> <span>e-mail</span></a>
    </div>
    <h3>BANK TRANSFER INFORMATION</h3>
    <h5>Account No. 128178580 </h5>
    <h5>ABA/Routing: 111000614</h5>
    <h5>Swift: chasus33</h5>

    <h5 class="recommended bold">Other Recommended Students</h5>
  </div>

  <div class="recomendations">
    <div class="window">
      <ul>
        <% @students.each do |s| %>
          <li>
            <%= link_to student_path(s.id) do %>
              <%= image_tag s.p1_url, :class => "student" %>
              <div class="recomended-stats">
                <h6 class="bold"> <%= s.first_name + ' ' + s.last_name %></h6>
                <h6><%= s.city_check %>,&nbsp;USD </h6>
                <h6><%= s.university %></h6>
              </div>
              <span class="corner-check"> </span>
              <div class="bubble approved normal">
              </div>
              <p class="blurred" >
                I will Add Up by
              </p>
              <p class="info-color desc">
                <%= s.cause %>
              </p>
              <div class="progress">
                <% p= s.donations.sum(:mc_gross).round  / s.crowdfundig_goal_usd %>
                <% p = 249 * p %>
                <span class="achieved" style="width:<%= p %>px"> </span>
              </div>
              <p class="goals">
                <span class="highlight bold"> <%= ((s.donations.sum(:mc_gross)/s.crowdfundig_goal_usd)*100).round %>%</span>of Goal
              </p>
              <p class="goals">
                <span class="highlight bold">$<%= s.donations.sum(:mc_gross).round %></span>Added Up
              </p>
              <p class="goals">
                <span class="highlight bold"><%= ((Date.today-s.created_at.to_date).round-s.time_frame.to_i).abs %></span>days left
              </p>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>

  </div>
