<h1>Listing partnerships</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url logo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partnerships.each do |partnership| %>
  <tr>
    <td><%= partnership.name %></td>
    <td><%= partnership.url_logo %></td>
    <td><%= link_to 'Show', partnership %></td>
    <td><%= link_to 'Edit', edit_partnership_path(partnership) %></td>
    <td><%= link_to 'Destroy', partnership, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partnership', new_partnership_path %>
