<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @partnership.name %>
</p>

<p>
  <b>Url logo:</b>
  <%= @partnership.url_logo %>
</p>


<%= link_to 'Edit', edit_partnership_path(@partnership) %> |
<%= link_to 'Back', partnerships_path %>
