<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sponsor.name %>
</p>

<p>
  <b>Verified:</b>
  <%= @sponsor.verified %>
</p>

<p>
  <b>Review:</b>
  <%= @sponsor.review %>
</p>

<p>
  <b>University:</b>
  <%= @sponsor.university %>
</p>

<p>
  <b>Job:</b>
  <%= @sponsor.job %>
</p>


<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
