<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @campaign.student %>
</p>

<p>
  <b>Goal:</b>
  <%= @campaign.goal %>
</p>

<p>
  <b>Timer:</b>
  <%= @campaign.timer %>
</p>


<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
