<div class="tab-pane fade" id="fs">
  <div class="row-fluid">
    <div class="span6">
      <label><strong>Photos</strong>
        <span class="help-block"> Please share 7 to 10 photos that show your family/friends,you engaging in your interests, hobbies and service activities. These will help donors get a feel for who you are. </span>
        <label>Avatar front*<br/>
          <%= f.file_field :p1 %>
        </label>
        <label>Avatar back* <br/>
          <%= f.file_field :p2 %>
        </label>
        <label>My classmates*<br/>
          <%= f.file_field :p3 %>
        </label>
        <label>My family*<br/>
          <%= f.file_field :p4 %>
        </label>
        <label>Hobbies<br/>
          <%= f.file_field :p5 %>
        </label>
         <label>Social cause<br/>
          <%= f.file_field :p6%>
        </label>
       <label>About me<br/>
          <%= f.file_field :p7 %>
        </label>
        <label>Other photo <br/>
          <%= f.file_field :p8 %>
        </label>
        <label>Other photo <br/>
          <%= f.file_field :p9 %>
        </label>
        <label>Other photo <br/>
          <%= f.file_field :p10 %>
        </label>
      </label>

    </div>

    <div class="span6">
      <label><strong>Videos</strong>
        <span class="help-block">
          Please upload a 2 minute video in which you talk about your project to add up to your community. Don't worry, it can be a simple web cam video. The purpose is to explain to donors why you care about adding up to your community and why you have the ability to do so.<br/> <%= image_tag "youtube.png",  width:"75" %> Youtube video URL
        </span>
        <%= f.text_field :link_of_video, :rows => 10, :class => "span12", :placeholder => "ex. http://www.youtube.com/watch?v=r0Tm92PpxjA" %>
      </label>
    </div>

  </div>

</div>
