<%= form_for @student_application, :multipart => true  do |f| %>
  <% if @student_application.errors.any? %>
    <div id="error_explanation" class="alert alert-error" >
      <h2><%= pluralize(@student_application.errors.count, "error") %> prohibited this Student application from being saved:</h2>

      <ul>
        <% @student_application.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tab-content">

    <%= render :partial => "basic",:locals => {:f => f} %>
    <%= render :partial => "files",:locals => {:f => f} %>
    <%= render :partial => "questions",:locals => {:f => f} %>
    <%= render :partial => "payment",:locals => {:f => f} %>

  </div><!-- Close tab content -->


<br/><br/>
<br/>
<br/>

<%end%>
<script>
    $('#basic').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

    $('#files').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

    $('#questions').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

    $('#payment').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
    $('#check').hide();
    $('#wire').hide();
    $('#q2').hide();

    $("#student_application_method_of_payment").change(function () {
      var valor =  $(this).val();
      if (valor == 0){
        $('#check').fadeOut('slow');
        $('#wire').fadeOut('slow');
        $('#q2').fadeOut('slow');
        }else if (valor == 1) {
        $('#check').fadeIn('slow');
        $('#wire').fadeOut('slow');
        $('#q2').fadeIn('slow');
        }else if (valor == 2){
        $('#check').fadeOut('slow');
        $('#wire').fadeIn('slow');
        $('#q2').fadeIn('slow');
      }


    }
    );


    $(document).ready(function(){
      $("#tooltip").click(function(event){
        window.open('http://www.khanacademy.org/contribute');
        $('#tooltip').tooltip('toggle');
      });
    });

  </script>

