<div class="row-fluid">
  <div class="span3"><h1>Students</h1></div>
  <div class="span3 pull-right">
    <br/>
    <%= link_to 'New Student', new_student_application_path, :class => "btn btn-primary pull-right" %>
  </div>
</div>
<table>
  <tr>
    <th>Last name</th>
    <th>First name</th>
    <th>Nationality</th>
    <th>Email</th>
    <th>University</th>
    <th>Degree</th>
    <th>Field of study</th>
    <th>Current year</th>
    <th>Length of program</th>
    <th>Crowdfundig goal usd</th>
    <th>Total annual cost of attendance</th>
    <th>Time frame</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_applications.each do |student_application| %>
  <tr>
    <td><%= student_application.last_name %></td>
    <td><%= student_application.first_name %></td>
    <td><%= student_application.nationality %></td>
    <td><%= student_application.email %></td>
    <td><%= student_application.university %></td>
    <td><%= student_application.degree %></td>
    <td><%= student_application.field_of_study %></td>
    <td><%= student_application.current_year %></td>
    <td><%= student_application.length_of_program %></td>
    <td><%= student_application.crowdfundig_goal_usd %></td>
    <td><%= student_application.total_annual_cost_of_attendance %></td>
    <td><%= student_application.time_frame %></td>
    <td><%= link_to 'Show', student_application %></td>
    <td><%= link_to 'Edit', edit_student_application_path(student_application) %></td>
    <td><%= link_to 'Destroy', student_application, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />


