<h1>Listing student_applications</h1>

<table>
  <tr>
    <th>Last name</th>
    <th>First name</th>
    <th>Nationality</th>
    <th>Email</th>
    <th>University</th>
    <th>Degree</th>
    <th>Field of study</th>
    <th>Current year</th>
    <th>Length of program</th>
    <th>Crowdfundig goal usd</th>
    <th>Total annual cost of attendance</th>
    <th>Time frame</th>
    <th>Link or attachment of photos</th>
    <th>Link of video</th>
    <th>Cause</th>
    <th>Student sponsor for the community service project</th>
    <th>Answer1</th>
    <th>Answer2</th>
    <th>Univesity back account</th>
    <th>Students university id reference</th>
    <th>Answer3</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_applications.each do |student_application| %>
  <tr>
    <td><%= student_application.last_name %></td>
    <td><%= student_application.first_name %></td>
    <td><%= student_application.nationality %></td>
    <td><%= student_application.email %></td>
    <td><%= student_application.university %></td>
    <td><%= student_application.degree %></td>
    <td><%= student_application.field_of_study %></td>
    <td><%= student_application.current_year %></td>
    <td><%= student_application.length_of_program %></td>
    <td><%= student_application.crowdfundig_goal_usd %></td>
    <td><%= student_application.total_annual_cost_of_attendance %></td>
    <td><%= student_application.time_frame %></td>
    <td><%= student_application.link_or_attachment_of_photos %></td>
    <td><%= student_application.link_of_video %></td>
    <td><%= student_application.cause %></td>
    <td><%= student_application.student_sponsor_for_the_community_service_project %></td>
    <td><%= student_application.answer1 %></td>
    <td><%= student_application.answer2 %></td>
    <td><%= student_application.univesity_back_account %></td>
    <td><%= student_application.students_university_id_reference %></td>
    <td><%= student_application.answer3 %></td>
    <td><%= link_to 'Show', student_application %></td>
    <td><%= link_to 'Edit', edit_student_application_path(student_application) %></td>
    <td><%= link_to 'Destroy', student_application, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student application', new_student_application_path %>
