 <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "ADDUP", control_panel_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Students", students_path %></li>
              <li><%= link_to "Universities",  universities_path %></li>
              <li><%= link_to "Careers", careers_path %></li>
              <li><%= link_to "Sponsors", sponsors_path %></li>
              <li><%= link_to "Associations", partnerships_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

