<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "ADDUP", panel_path, :class=>"brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <% if admin_signed_in? %>
            <li><%= link_to "Signed in as #{current_admin.email}. Not you?",  panel_path%></li>
            <li><%= link_to "Sign out", destroy_admin_session_path, :method=> :delete, :style => "color:white" %></li>
            <li><%= link_to "Students", student_applications_path %></li>
            <li><%= link_to "Advisors", advisors_path %></li>
             <li><%= link_to "Donations", root_path %></li>
         <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
