<div class="lnkh"><%= link_to "About Us", about_path %></div>
<div class="how">
	<%= link_to "How it Works", how_path %>
	<div class="double-menu">
		<span>
			<%= link_to "", how_sponsors_path %>
			<%= link_to "", how_path %>
		</span>
	</div>
</div>
<div class="lnkh"><%= link_to "Create Application",  introduction_path%> </div>
<div class="lnkh"><%= link_to "Discover Students", root_path + "#discover_students" %></div>
