<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/front_end_head" %>
    <%= yield :javascripts %>
  </head>
  <body>
    <% if alert != nil %>
      <p class = "alert"><%= alert %></p>
    <% end %>
    <% if  params[:action] != "landingpage" %>
      <%= render "layouts/front_end_header" %>
   <% end %>
    <%= yield %>
    <%= render "layouts/front_end_footer" %>
    <%= yield :scripts %>

  </body>
</html>
