<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/front_end_head" %>
    <%= yield :javascripts %>
    <%= render :partial => 'layouts/addupassets' unless content_for? :javascripts %>
 </head>
  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>


    <% if alert != nil %>
      <p class = "alert"><%= alert %></p>
    <% end %>
    <div class="header">
      <div class="center">
          <div class="logoh"><%= link_to image_tag('logo.png'),root_path %></div>
          <%= yield :header %>
          <%= render :partial => 'layouts/front_end_header'unless content_for? :header %>
      </div>
    </div>
      <div class="container">
        <%= yield %>
      </div>
    <%= render "layouts/front_end_footer" %>
    <%= yield :scripts %>
  </body>
</html>
