<!DOCTYPE html>
<html lang="en">
  <head>
   <%= render "layouts/front_end_head" %>
  </head>
  <body>
    <p class = "notice"><%= notice %></p>
    <p class = "alert"><%= alert %></p>
    <% if  params[:action] != "landingpage" %>
      <%= render "layouts/front_end_header" %>
    <% end %>
    <%= yield %>
    <%= render "layouts/front_end_footer" %>
  </body>
</html>
