<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add Up - Crowdscholarships that carry on</title>
    <%= stylesheet_link_tag    "addup", :media => "all"%>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/front_end_head' %>


  </head>
  <body>
    <% unless params[:action] == "landingpage"  %>
      <%= render 'layouts/front_end_header' %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/front_end_footer' %>
  </body>
</html>
