<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/front_end_head" %>
    <%= yield :javascripts %>
    <%= render :partial => 'layouts/addupassets' unless content_for? :javascripts %>
 </head>
  <body>
 <%= render "facebook"  %>
   <% if alert != nil %>
      <p class = "alert"><%= alert %></p>
    <% end %>
    <div class="header">
      <div class="center">
          <div class="logoh"><%= link_to image_tag('logo.png'),root_path %></div>
          <%= yield :header %>
          <%= render :partial => 'layouts/front_end_header'unless content_for? :header %>
      </div>
    </div>
      <div class="container">
        <%= yield %>
      </div>
    <%= render "layouts/front_end_footer" %>
    <%= yield :scripts %>
  </body>
</html>
