<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/front_end_head" %>
    <%= yield :javascripts %>
    <%= render :partial => 'layouts/addupassets' unless content_for? :javascripts %>
<meta name="description" content="Add Up is a crowdscholarships platform for students to raise funds for their graduate studies in USA top universities." />
<meta name="author" content="Add Up - Crowdscholarships LLC" />
<meta name="viewport" content="width=device-width; initial-scale=1.0" />
<meta property="og:title" content=" ADD UP | Crowdscholarships LLC " />
<meta property="og:url" content="<%= root_url %>" />
<meta property="og:image" content="http://www.addup.org/assets/logo.png" />
<meta property="og:description" content="Add Up is a crowdscholarships platform for students to raise funds for their graduate studies in USA top universities." />





 </head>
  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>


    <% if alert != nil %>
      <p class = "alert"><%= alert %></p>
    <% end %>
    <div class="header">
      <div class="center">
          <div class="logoh"><%= link_to image_tag('logo.png'),root_path %></div>
          <%= yield :header %>
          <%= render :partial => 'layouts/front_end_header'unless content_for? :header %>
      </div>
    </div>
      <div class="container">
        <%= yield %>
      </div>
    <%= render "layouts/front_end_footer" %>
    <%= yield :scripts %>
  </body>
</html>
