<!DOCTYPE html>
<html>
  <head>
    <title>Control panel</title>
    <%= stylesheet_link_tag "bootstrap" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
 <%= favicon_link_tag "favicon.ico" %>
   <%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
    <%= render 'layouts/back_end_shim' %>
    <style type ="text/css">
      body{
        padding-top: 60px;
        padding-bottom:40;
      }
    </style>
  </head>
  <body>
  <%= render 'layouts/back_end_header' %>
   <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

