<!DOCTYPE html>
<html>
  <head>
    <title>Control panel</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/back_end_shim' %>
  </head>
  <body>
    <%= render 'layouts/back_end_header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/back_end_footer' %>
    </div>
  </body>
</html>

