<!DOCTYPE html>
<html>
  <head>
    <title>Applications</title>
    <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <%= javascript_include_tag "bootstrap" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="custumheader" >
        <div class="controls controls-row">
          <div class="span4" style="padding-top:15px;">
            <%= link_to image_tag('logo-head.png'),root_path %>
          </div>
          <h1 class="pull-right" style="padding:5px"><%= yield :title %></h1>
        </div>
      </div>
      <%= yield %>
    </div>
    <%= render "layouts/front_end_footer" %>
  </body>
</html>
